
.leaveDesc {
    font-weight: 500;
}

.cardHeader {
    font-size: 16px;
    font-weight: 500;
}
ion-fab-button :disabled{
    opacity: .6;
}
p {
    margin: 5px;
    font-size: 13px;
}

.leaveDetails {
    margin: 0px 10px;
    margin-top: 15px;
    padding: 10px;
    padding-top: 16px;
    border-radius: 10px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}

ion-fab-button {
    height: 30px;
    width: 30px;
    top: 3px;
    padding: 0px;
    margin-left: 16px;
    ion-icon {
        font-size: 18px;
    }
}

ion-fab-list {
    padding: 0px;
    margin: -12px 60px;
    ion-fab-button {
        height: 35px;
        width: 35px;
        top: 3px;
        margin-left: 5px;
    }
}
ion-fab{
    margin-top: -4px;
}
.statusBtn {
    float: right;
    height: 30px;
    width: 100px;
    margin-top: -2px;
}

.color-red {
    --border-color: var(--ion-color-danger) !important;
    color: var(--ion-color-danger) !important;
}

.color-blue {
    --border-color: var(--ion-color-primary) !important;
    color: var(--ion-color-primary) !important;
}

.color-green {
    --border-color: var(--ion-color-success) !important;
    color: var(--ion-color-success) !important;
}

.color-grey {
    --border-color: var(--ion-color-medium) !important;
    color: var(--ion-color-medium) !important;
}


.period {
    color: var(--ion-color-primary);
    display: inline-block;
    font-size: 16px;
    margin: 0px 6px;
}
.changeStatusBtn{
    display: inline-block;
    float: right;
    ion-button{
        height: 25px;
        width: 45px;
        margin: 0px 10px;
    }
}
p {
    margin: 5px;
    font-size: 13px;
}
.workerName{
    font-size: 18px;
    text-align: center;
}
.workerLeave{
    margin: 10px;
    .leaveDetails {
        margin: 0px;        
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
    }
}
.workerCard{
    margin: 0px 10px;
    margin-top: 15px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
}
