<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    
    <ion-title>Leave Line</ion-title>


    <ion-buttons slot="end" *ngIf="pageType!='worker'">
      <button class="addButton" (click)="addLeaveLine()" [disabled]="!editable">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let leaveLine of leaveApp.LeaveApplicationLine,let i=index">
    <div *ngIf="!leaveLine.IsDeleted">
      <div (click)="editLeaveLine()">
        <div class="projDetail"
          [ngStyle]="{'border-left-style': 'solid','border-left-width' : '15px','border-left-color':colorList[i].bgColor }">
          <p style="margin-top:8px;"> {{leaveLine.StartDate | date:'LL/dd/yy'}} -
            {{leaveLine.EndDate | date:'LL/dd/yy'}}</p>
          <p style="margin-top:8px;">{{leaveLine.AbsenceCodeDescription}}</p>
          <p>Days : {{leaveLine.LeaveApplied | number : '1.2-2' }} </p>
        </div>
      </div>
    </div>
  </ion-list>
</ion-content>